<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thyme Test App</title>
</head>
<body>
    <h1 >Welcome to the Company Weather Service</h1>
    <h3>Choose a User to Display Weather Data</h3>
    <label for="user">Choose a User:</label>

    <select name="user" id="user">
        <option th:each="user : ${users}" th:value="${user.name}" th:text="${user.name}"></option>
    </select>
    <button onclick="submitForm()">Load User</button>


    <script>
        function submitForm() {
            var selectedUser = document.getElementById("user").value;
            window.location.href = "/user?user=" + selectedUser;
        }

    </script>
</body>
</html>